p{
    color:green;
}
#h2{
    background: aqua;
    border: 2px;
    border-color: red;
    border-radius: 20px;
    border-style: dotted;
}

#mydiv{
   border-style: solid;
   background-color: lightblue;
}